<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>

<body>
    <script src="https://unpkg.com/vue"></script>
    <div id="app">
        <app-car />
    </div>

    <script>
        Vue.component('app-car', {
            //     data() {
            //         return {
            //             cars: [{
            //                     model: "BMW"
            //                 },
            //                 {
            //                     model: "Volvo"
            //                 },
            //                 {
            //                     model: "Mercedes"
            //                 },
            //                 {
            //                     model: "Ford"
            //                 },
            //                 {
            //                     model: "Audi"
            //                 },
            //                 {
            //                     model: "Siat"
            //                 },
            //                 {
            //                     model: "Fiat"
            //                 },
            //             ]
            //         }
            //     },
            //     template: `
            //     <div>
            //         <div class="car" v-for="(car, index) in cars" :key="index">
            //     <p>
            //         {{car.model}}
            //     </p>
            // </div>    
            //     </div>
            //     `
        });

        let app = new Vue({
            el: '#app',
            components: {
                'app-car': {
                    data() {
                        return {
                            cars: [{
                                    model: "BMW"
                                },
                                {
                                    model: "Volvo"
                                },
                                {
                                    model: "Mercedes"
                                },
                                {
                                    model: "Ford"
                                },
                                {
                                    model: "Audi"
                                },
                                {
                                    model: "Siat"
                                },
                                {
                                    model: "Fiat"
                                },
                            ]
                        }
                    },
                    template: `
            <div>
                <div class="car" v-for="(car, index) in cars" :key="index">
            <p>
                {{car.model}}
            </p>
        </div>    
            </div>
            `
                }
            },
            data: {

            },
            methods: {

            },

        })
    </script>
</body>

</html>