<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>

<body>
    <script src="https://unpkg.com/vue"></script>
    <div id="app">
        <button @click="show= !show">
            show/hide
        </button>
        <p v-if="show">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, sint nisi? Veritatis impedit fugiat quidem
            pariatur quod, sequi dolorem eum laudantium tempora quis quasi facilis!
        </p>
        <p v-else>
            text2

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, suscipit!
        </p>
        {{message | lowercase}}
        <ul>
            <li v-for="(car, i) in cars" :key="i">
                {{car.model | lowercase}} - {{car.speed}}
            </li>
        </ul>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                show: false,
                message: 'JOPA',
                cars: [{
                        model: "BMW",
                        speed: 250.8
                    },
                    {
                        model: "AUDI",
                        speed: 220.8
                    },
                    {
                        model: "MERCEDES",
                        speed: 350.8
                    },
                    {
                        model: "FORD",
                        speed: 150.8
                    },

                ]
            },
            methods: {

            },

            filters: {
                lowercase(value) {
                    return value.toLowerCase();
                }
            }
        })
    </script>
</body>

</html>