<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>

<body>
    <script src="https://unpkg.com/vue"></script>
    <div id="app">
        <span @click="changeText">
            Text
        </span>
        <p>
            {{title}}
        </p>
        <p :class="styleCss">
            Цвет: {{styleCss}}
        </p>
        <input type="text" v-model="styleCss" >
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                title: 'Tests',
                styleCss: '',
            },
            methods: {
                changeText() {
                    this.title = 'Jopa'
                }
            }
        })
    </script>
</body>

</html>