<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Обработанные свойства</title>
</head>

<body>
    <script src="https://unpkg.com/vue"></script>
    <div id="app">
        <input type="text" @input="increment($event.target.value)">
        <p>
            {{value}}
        </p>
        <p>{{doubleValue}}</p>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                value: 1,
                
            },
            methods: {
                increment(value) {
                    this.value = value;
                }
            },
            computed:{
                doubleValue(){
                    return this.value * 2
                }
            }
        })
    </script>
</body>

</html>