<template>
  <div>
    <h1>Пробный текст</h1>
    <app-input />
  </div>
</template>

<script>
import Input from "@/components/Field.vue";
export default {
  components: {
    "app-input": Input,
  },
};
</script>
